/* css/components/timer.css */
.timer__input-group {
    margin-bottom: var(--spacing-md);
  }
  
  .timer__controls {
    margin-top: var(--spacing-lg);
  }
  
  .data-controls {
    margin-top: var(--spacing-xl);
    margin-bottom: var(--spacing-xl);
  }
  
  .timer-main-container {
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 1rem;
  }
  